.map {
  width: 100%;
  height: 100%;
}

@media (pointer:none), (pointer:coarse) {
  .map {
    height: 93%;
  }
}

.controlContainer {
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.fuelSelect {
  width: 6rem;
  z-index: -1;
}

.rangeInput {
  width: 4rem;
  z-index: -1;
}

.locationSearch {
  height: 1.9rem !important;
}

.locateButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.locateButtonIcon {
  height: 2rem;
  width: 2rem;
}